# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Pods/
macos/Flutter/ephemeral
macos/Flutter/flutter_assets/
web/assets/
web/build/
android/app/build/
android/build/
lib/generated_plugin_registrant.dart

# Android specific
android/build/
android/gradle/
android/local.properties
android/gradlew
android/gradlew.bat

# iOS specific
ios/.generated/
ios/Flutter/App.framework/
ios/Flutter/Flutter.xcframework/
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/

# Other
.DS_Store
*.iml
*.log
*.pbxuser
*.xcworkspace/
.vscode/
.idea/