<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168151078817-4mo3vn0213tv5nll6kq1s00p96n7k8d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168151078817-4mo3vn0213tv5nll6kq1s00p96n7k8d3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168151078817-c9hnflafglm0gcbt7644dln4gs72cb7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSkgtjzWGApw8xlQ9_xzEIqhconNaLJw0</string>
	<key>GCM_SENDER_ID</key>
	<string>168151078817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartGptAi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smart-gpt-ai-7f206</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-gpt-ai-7f206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168151078817:ios:2b0dce813212e465771de0</string>
</dict>
</plist>